<div class="modal youtube-privacy" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'huh.youtube.title.privacy'|trans }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'huh.youtube.button.privacy.cancel'|trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ 'huh.youtube.text.privacy'|trans }}</p>
                <form>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="youtubePrivacyAuto"> {{ 'huh.youtube.label.privacy.autoplay'|trans({'%host%': host}) }}
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">{{ 'huh.youtube.title.play'|trans }}</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal" aria-label="{{ 'huh.youtube.button.privacy.cancel'|trans }}">{{ 'huh.youtube.button.privacy.cancel'|trans }}</button>
                </form>
            </div>
        </div>
    </div>
</div>