<div class="modal fade youtube-privacy" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ 'huh.youtube.title.privacy'|trans }}</h4>
			</div>
			<div class="modal-body">
				<p>{{ 'huh.youtube.text.privacy'|trans }}</p>
				<form>
					<div class="checkbox">
						<label>
							<input type="checkbox" name="youtubePrivacyAuto"> {{ 'huh.youtube.label.privacy.autoplay'|trans }}
						</label>
					</div>
					<button type="submit" class="btn btn-default">{{ 'huh.youtube.title.play'|trans }}</button>
					<button type="button" class="btn btn-link" data-dismiss="modal" aria-label="Close">{{ 'huh.youtube.button.privacy.cancel'|trans }}</button>
				</form>
			</div>
		</div>
	</div>
</div>