<div class="privacy-confirm" role="dialog" tabindex="-1">
    <h4>{{ 'huh.youtube.title.privacy'|trans }}</h4>

    <p>{{ 'huh.youtube.text.privacy'|trans }}</p>

    <div class="custom-control custom-checkbox">
        <input type="checkbox" name="youtubePrivacyAuto" id="youtubePrivacyAuto_{{ count }}" class="custom-control-input checkbox"> <label for="youtubePrivacyAuto_{{ count }}" class="custom-control-label checkbox-inline">{{ 'huh.youtube.label.privacy.autoplay'|trans({'%host%': host}) }}</label>
    </div>
</div>