<!-- indexer::stop -->
{% if fullsizeLink|default()  %}
<div class="youtube_modal">
    {{ fullsizeLink }}
</div>
{% else %}
<div class="youtube_default">
    {% if addPreviewImage %}
        <div class="video-thumbnail" data-media="youtube" title="{{ playTitle  }}"{% if youtubePrivacy|default() %} data-privacy="true"{% endif %}{% if autoplay|default() %} data-autoplay="true"{% endif %}
            <figure class="image_container">
                {% if skipImageCaching|default() %}
                    <img src="{{ previewImageUrl  }}">
                {% else %}
                    {#<?php $this->insert('picture_default', $this->picture); ?>#}
                    {% if videoDuration|default() %}
                        <span class="duration">
                            {#<?= is_numeric($this->videoDuration) ? (($this->videoDuration / 3600 >= 1) ? gmdate("H:i:s", $this->videoDuration) : gmdate("i:s", $this->videoDuration)) : $this->videoDuration; ?>#}
                        </span>
                    {% endif %}
                    {% if addPlayButton|default() %}
                        <span class="play-button"></span>
                    {% endif %}
                {% endif %}
            </figure>
    {% endif %}
    <div class="video-container"{% if addPreviewImage|default() %} style="display: none;"{% endif %}>
        {% if addPreviewImage|default() %}
            <iframe src="about:blank" data-src="{{ youtubeSrc }}" allowfullscreen frameborder="0"></iframe>
        {% else %}
            <iframe src="{{ youtubeSrc }}" allowfullscreen frameborder="0"></iframe>
        {% endif %}
    </div>
    {% if  youtubePrivacy|default() %}
        {{ privacy  }}
    {% endif %}
</div>
{% endif %}
<!-- indexer::continue -->


