<!-- indexer::stop -->
<div class="youtube_default">
    <div class="video-wrapper">
        {% if hasPreviewImage|default() and previewImage|default() %}
            <div class="video-thumbnail{% if hasPreviewImage|default() %} video-hidden{% endif %}" data-media="youtube"
                 title="{{ 'huh.youtube.title.play'|trans }}"{% if youtubePrivacy|default() %} data-privacy="true"
                 data-privacy-html="{{ privacy }}"{% endif %} data-btn-privacy-ok="{{ 'huh.youtube.button.privacy.ok'|trans }}"
                 data-btn-privacy-cancel="{{ 'huh.youtube.button.privacy.cancel'|trans }}"{% if autoplay|default() %}
                 data-autoplay="true"{% endif %}>
                <figure class="image_container">
                    {% if previewImage.picture|default() %}
                        {{ include('@HeimrichHannotContaoUtils/picture.html.twig', previewImage.picture) }}
                    {% else %}
                        <img src="{{ previewImage.src }}" alt="youtube-preview-image">
                    {% endif %}
                    {% if videoDuration|default() %}
                        <span class="duration">
                    {% if videoDuration matches '/^\\d+$/' %}
                        {% if videoDuration/3600 >=1 %}
                            {{ videoDuration|date('H:i:s') }}
                        {% else %}
                            {{ videoDuration|date('i:s') }}
                        {% endif %}
                    {% else %}
                        {{ videoDuration }}
                    {% endif %}
                    </span>
                    {% endif %}
                    {% if playButton|default() %}
                        <button tabindex="0" class="play-button"><span class="sr-only">{{ 'huh.youtube.title.play'|trans }}</span></button>
                    {% endif %}
                </figure>
            </div>
        {% elseif youtubePrivacy|default() and ( not previewImage|default() )  %}
            <div class="video-thumbnail{% if hasPreviewImage|default() %} video-hidden{% endif %}" data-media="youtube"
                 title="{{ 'huh.youtube.title.play'|trans }}"{% if youtubePrivacy|default() %} data-privacy="true"
                 data-privacy-html="{{ privacy }}"{% endif %} data-btn-privacy-ok="{{ 'huh.youtube.button.privacy.ok'|trans }}"
                 data-btn-privacy-cancel="{{ 'huh.youtube.button.privacy.cancel'|trans }}"{% if autoplay|default() %}
                 data-autoplay="true"{% endif %}>
                <figure class="image_container">
                    <img src="bundles/heimrichhannotcontaoyoutube/img/preview_fallback.jpg" alt="youtube-preview-image">
                    {% if videoDuration|default() %}
                        <span class="duration">
                        {% if videoDuration matches '/^\\d+$/' %}
                            {% if videoDuration/3600 >=1 %}
                                {{ videoDuration|date('H:i:s') }}
                            {% else %}
                                {{ videoDuration|date('i:s') }}
                            {% endif %}
                        {% else %}
                            {{ videoDuration }}
                        {% endif %}
                        </span>
                    {% endif %}
                    {% if playButton|default() %}
                        <span class="play-button"></span>
                    {% endif %}
                </figure>
            </div>
        {% endif %}
        <div class="video-container{% if hasPreviewImage|default() %} video-hidden{% endif %}">
            {% if hasPreviewImage|default() %}
                <iframe src="about:blank" data-src="{{ src }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube Video-Player" allowfullscreen></iframe>
            {% else %}
                <iframe src="{{ src }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube Video-Player" allowfullscreen></iframe>
            {% endif %}
        </div>
    </div>
    {% if text|default() %}
        <div class="video-text">
            {{ text|raw }}
        </div>
    {% endif %}
</div>
<!-- indexer::continue -->